<ul>
      <li class="py-2 pl-4 cursor-pointer">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ant-design:caret-down" 
                data-width="18"></span>
                <h2 class="text-base text-white">Channels</h2>
            </div>
        </li>
</ul>

<ul>
      <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="akar-icons:plus" 
                data-width="18"></span>
                <h2 class="text-base text-white">Add Channel</h2>
            </div>
        </li>

         <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ph:hash" 
                data-width="18"></span>
                <h2 class="text-base text-white">design-team</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ph:hash" 
                data-width="18"></span>
                <h2 class="text-base text-white">blazor-engineering</h2>
            </div>
        </li>
</ul>