<div>
    <ul class="py-2">
        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ci:menu-alt-01" data-width="23"></span>
                <h2 class="font-semibold text-lg text-white">All Unreads</h2>
            </div>
        </li>

         <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="clarity:chat-bubble-line" data-width="22"></span>
                <h2 class="text-base text-white">Threads</h2>
            </div>
        </li>

         <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ion:at" data-width="23"></span>
                <h2 class="text-base text-white">Mentions & reactions</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" 
                data-icon="material-symbols:file-copy-outline-rounded" data-width="23"></span>

                <h2 class="text-base text-white">File Browser</h2>
            </div>
        </li>

        <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
            <div class="flex">
                <span class="iconify text-white font-semibold mr-1 mt-1" data-icon="ant-design:down-outlined" data-width="18"></span>
                <h2 class="text-sm text-white">Show more</h2>
            </div>
        </li>
    </ul>
    <Channels/>
</div>