<div class="w-4/5 flex overflow-y-scroll scrollbar">
    <div class="w-full">
        <TeamAccountInfo/>

        <div class="">
            <ul class="py-2">
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="font-semibold iconify text-white mt-1 mr-1" data-icon="ci:menu-alt-01" data-width="23" data-flip="horizontal"></span>
                        <h2 class="font-semibold text-lg text-white">All unreads</h2>
                    </div>
                </li>
                    <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-1" data-icon="clarity:chat-bubble-line" data-width="22"></span>
                        <h2 class="text-base text-white">Threads</h2>
                    </div>
                </li>
                    <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-1" data-icon="ion:at" data-width="22"></span>
                        <h2 class="text-base text-white">Mentions & reactions</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-1" data-icon="fluent:bookmark-16-regular" data-width="22"></span>
                        <h2 class="text-base text-white">Channel browser</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="fe:app-menu" data-width="22"></span>
                        <h2 class="text-base text-white">Apps</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="material-symbols:file-copy-outline-rounded" data-width="22"></span>
                        <h2 class="text-base text-white">File browser</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mr-1 mt-1" data-icon="ant-design:up-outlined" data-width="18"></span>
                        <h2 class="text-sm text-white">Show less</h2>
                    </div>
                </li>
            </ul>
            <ul class="py-2">
                <li class="py-2 pl-4 cursor-pointer">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="ant-design:caret-down-outlined" data-width="18"></span>
                        <h2 class="text-base text-white">Channels</h2>
                    </div>
                </li>
            </ul>
            <ul class="py-2">
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="akar-icons:plus" data-width="18"></span>
                        <h2 class="text-base text-white">Add Channel</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="ph:hash" data-width="18"></span>
                        <h2 class="text-base text-white">design-team</h2>
                    </div>
                </li>
                <li class="py-2 pl-4 cursor-pointer hover:bg-neutral-900/50">
                    <div class="flex">
                        <span class="iconify text-white mt-1 mr-2" data-icon="ph:hash" data-width="18"></span>
                        <h2 class="text-base text-white">blazor-engineering</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
