<div class="p-4 z-10 w-full bg-slack_bg border-b border-gray-200 border-opacity-25">
    <div class="flex justify-between w-full">
        <div>
            <h2 class="text-white text-2xl font-sans font-bold">ZION CODES HQ</h2>
        </div>
        <div class="bg-white p-2 rounded-full">
            <span class="iconify text-slack_bg" data-icon="simple-line-icons:note" data-width="15"></span>
        </div>
    </div>
    <div class="flex w-full">
        <span class="bg-green-700 mr-1 mt-2.5 rounded-full w-[5px] h-[5px] p-1"></span>
        <p class="text-white">@UserName</p>
    </div>
</div>

@code {
    [CascadingParameter]
    public string UserName { get; set; }
}
