<div class="w-1/4 border-r border-gray-200 border-opacity-25 p-2 pt-4">
    <div class="w-[80%] h-[45px] cursor-pointer border-2 border-gray-50 rounded-lg mx-auto mb-4 p-1">
       <div class="bg-rose-700 w-full h-full rounded-lg"></div>
    </div>

    <div class="w-[80%] h-[45px] cursor-pointer hover:border-2 border-gray-50 rounded-lg mx-auto mb-4 p-1">
       <div class="bg-indigo-800 w-full h-full rounded-lg"></div>
    </div>

    <div class="cursor-pointer p-2 m-auto w-[80%] h-[45px]">
        <span class="iconify text-white" data-icon="akar-icons:plus" data-width="25"></span>
    </div>
</div>