<div class="flex w-3/5">
    <div class="rounded w-8 h-7 mr-4 mt-1 opacity-75 cursor-pointer hover:bg-black hover:opacity-50">
        <span class="iconify mt-1 m-auto" data-icon="simple-line-icons:clock" style="color: white;" data-width="20"></span>
    </div>
    <div class="flex border border-gray-100 border-opacity-25 w-5/6 
                px-4 rounded-md py-1">
        <span class="iconify mt-1 mr-3 items-end opacity-75" data-icon="simple-line-icons:magnifier" style="color: white;"></span>
        <input type="text" class="text-white bg-transparent w-full outline-0" placeholder="Search Slackify Company"/>
    </div>
</div>