<div class="flex w-3/5 items-start">
    <div class="mt-1 opacity-75 cursor-pointer w-8 h-7 rounded mr-4 hover:bg-black hover:opacity-50">
        <span class="iconify mt-1 m-auto text-white" data-icon="simple-line-icons:clock" data-width="20"></span>
    </div>

    <div class="flex border border-gray-100 border-opacity-25 w-5/6 px-4 rounded-md py-1">
        <span class="iconify mt-1 mr-3 items-end text-white" data-icon="simple-line-icons:magnifier" ></span>
        <input type="text" class="w-full outline-0 bg-transparent text-white" placeholder="Search Slack" />
    </div>
</div>