<div class="bg-gray-100 flex h-screen w-full grid place-items-center">
    <div class="p-20 bg-white rounded-md drop-shadow-2xl text-center justify-center">
        <img src="Images/slack.png" class="h-28 m-auto mt-4 mb-2" />
        <h1 class="text-2xl pt-5 pb-1 font-bold">Sign in ZionCodes Community</h1>
        <p class="mb-8">zioncodes.slack.com</p>

        <a class="bg-green-700 rounded p-2 text-white" href="auth/google-login">Sign in with Google</a>
    </div>
</div>
