<div class="bg-gray-100 flex h-screen w-full place-items-center">
    <div class="m-auto p-20 bg-white rounded-md drop-shadow-2xl text-center justify-center">
        <img class="h-28 mt-4 mb-2 m-auto" src="Images/slack.png" />
        <h1 class="text-2xl font-bold pt-5">Sign into ZionCodes Community</h1>
        <p class="mb-8">zioncodes.slack.com</p>
        <a class="bg-green-700 rounded p-2 text-white" href="auth/google-login">Sign in with Google</a>
    </div>
</div>