<div class="flex justify-between p-4 border-b-2 border-neutral-900/25">
    <div class="flex align-center">
        <h4 class="lowercase text-xl font-bold mr-2">@HeaderTitle</h4>
        <span class="iconify mt-1" data-icon="ei:star" data-width="20"></span>
    </div>
    <div class="flex">
        <span class="iconify mr-1 mt-0.5" data-icon="ant-design:info-circle-outlined" data-width="17"></span>
        <p class="fot-bold text-sm">Details</p>
    </div>
</div>

@code {
    [Parameter]
    public string HeaderTitle { get; set; }
}