<div>
    <form class="flex reltive justify-center">
        <input type="text" class="fixed p-2 text-base w-[60%] outline-none
                                  border border-gray-800 rounded bottom-7" 
        placeholder="Message #blazor-engineering"/>
        <button type="submit" class="hidden">SEND</button>
    </form>
</div>