<div class="w-3/4 mt-[60px]">
    <div class="flex flex-col">
          <ChatHeader/>
        <div class="flex h-[35rem] overflow-y-scroll scrollbar relative flex-col-reverse">
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
            <Message/>
        </div>
        <ChatInput/>
    </div>
</div>