<div class="">
    <form class="relative flex justify-center">
        <input class="fixed p-2 text-base rounded outline-none 
                      bottom-7 border border-gray-800 w-[60%]" 
                type="text" placeholder="Message #blazor-engineering" 
        />
        <button type="submit" class="hidden">SEND</button>
    </form>
</div>

@code {

}
