<div class="flex px-4 pb-2 align-center pt-4">
    <img class="mr-2 h-14 rounded shadow" src="Images/1.jpg" />
    <div class="p-2">
        <div class="flex">
            <h3 class="font-bold mr-2">Damilola Alagbala</h3>
            <span class="uppercase text-xs font-light mt-1">6:30 PM</span>
        </div>
        <p>Hello people, don't forget to like, subscribe and share!</p>
    </div>
</div>