<div class="flex px-4 pt-4 pb-2 align-center">
    <img src="images/1.jpg" class="mr-2 h-14 rounded shadow"/>
    <div class="p-2">
        <div class="flex">
            <h3 class="font-bold mr-2">Damilola Alagbala</h3>
            <span class="uppercase text-xs font-light mt-1">6:30 PM</span>
        </div>
        <p>Hello Guys, How are we doing? We need to get the job done quickly with 100% accuracy!</p>
    </div>
</div>

@code {

}
