@page "/"

<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
    <Authorized>
        <NavMenu imgUrl = "@context.User.Claims.Where(c => c.Type == "picture").FirstOrDefault().Value" />
        <div class="flex h-screen w-full">
           <Sidebar/>
           <ChatContainer/>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string userImageUrl { get; set; }
}