@page "/"
@page "/client/{resourceparam}"

@using System.Security.Claims;

<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>

    <Authorized>
        <CascadingValue Value="@ResourceParam">
            <NavMenu imgUrl="Images/1.jpg"/>
            <div class="flex h-screen w-full">
                <Sidebar/>
                <ChatContainer UserEmail="@context.User.Claims.Where(user => user.Type == ClaimTypes.Email).FirstOrDefault().Value"/>
            </div>
        </CascadingValue>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string ResourceParam { get; set; } = String.Empty;
}