@page "/"
@page "/client/{resourceparam}"
@using System.Security.Claims
@using Microsoft.AspNetCore.SignalR.Client
@using Slackiffy.Data
@inject NavigationManager NavigationManager
@inject ConnectionManager ConnectionManager
@using Microsoft.AspNetCore.Components.Authorization
@using System.Net  
@inject AuthenticationStateProvider authProvider 

@*@implements IAsyncDisposable*@

<AuthorizeView>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
    <Authorized>
        <CascadingValue Value="@ResourceParam">
            <NavMenu imgUrl="@context.User.Claims.Where(c => c.Type == "picture").FirstOrDefault().Value"/>
            <div class="flex h-screen w-full">
               <Sidebar/>
               <ChatContainer/>
            </div>
        </CascadingValue>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string ResourceParam { get; set; } = String.Empty;

    private string userImageUrl { get; set; }

    private string userName;

    private HubConnection hubConnection;
    private List<Message> userMessages = new();

    private string ReceiverConnectionId = String.Empty;

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
    public string ConnectionId => hubConnection.ConnectionId;

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("I re-rendered man in index");
        Console.WriteLine($"is first rendered: {firstRender}");
    }
}