<div class="flex fixed justify-between bg-slack_nav w-full py-2 px-4 items-center">
    <div class="px-4">
        <span class="iconify text-white" data-icon="carbon:user-avatar-filled-alt" data-width="35"></span>
    </div>
    
    <HeaderSearch/>

    <div class="w-8 h-7 opacity-75 cursor-pointer rounded hover:bg-black hover:opacity-50 mt-1 mr-4">
        <span class="iconify mt-1 m-auto text-white" data-icon="simple-line-icons:question" data-width="20"></span>
    </div>
</div>