<div class="flex fixed justify-between bg-slack_nav w-full py-2 px-4 items-center">
    <div class="px-4">
        <img @onclick="@shouldShow" src="@imgUrl" class="h-10 rounded-full cursor-pointer shadow" />
        <div class="@CssClass("absolute", "bg-gray-200", "flex", "flex-col", "rounded", "mt-1", "p-2", "text-sm", "z-50", new {hidden})">
            <a class="flex hover:bg-blue-200 px-4 py-2 cursor-pointer rounded" href="auth/signout">
                <span class="iconify mr-2 mt-0.5" data-width="16" data-icon="mdi-light:logout" data-flip="horizontal"></span>
                <span>Log Out</span>    
            </a>
        </div>
    </div>
    
    <HeaderSearch/>

    <div class="w-8 h-7 opacity-75 cursor-pointer rounded hover:bg-black hover:opacity-50 mt-1 mr-4">
        <span class="iconify mt-1 m-auto text-white" data-icon="simple-line-icons:question" data-width="20"></span>
    </div>
</div>

@code {
    [Parameter]
    public string imgUrl { get; set; }
    private bool hidden { get; set; }

    protected override void OnInitialized()
    {
        this.hidden = true;
    }

    protected void shouldShow(MouseEventArgs e)
    {
        hidden = !hidden;
    }
}