@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #2B092A;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #99668e;
        border-radius: 100vh;
        border: 3px solid #3E103F;
    }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #c0a0b9;
        }
}